@mixin flex-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin button {
    height: 80px;
    width: 300px;    
    background-color: $yellow;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2em;
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;

                            
}


@mixin header {
    background: $blue;
    height: 60px;
    color: $yellow;
    text-align: center;

    h1 {
        font-size: 3em;
        font-style: italic;
    }
}

@mixin hover-supported {       
    @media not all and (pointer: coarse) {
         &:hover {
            @content;
        }
    }
}

@mixin box-shadow {
    box-shadow: 2px 9px 5px 0px rgba(0,0,0,0.75);
}

@mixin form-style {
    .form-item {
        display: flex;
        flex-direction: column;
        
        input {
            height: 45px;
            border-radius: 5px;
            border: 3px solid transparent;
            transition: 0.5s ease-in-out;
            font-size: 1.2em;

            &:focus {
                border: 3px solid $blue;
            }
        }

        
    }
}