html {
  background-color: #20356A;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8CB5C;
  position: -webkit-sticky;
  position: sticky;
}

.container .navbar .left-nav {
  color: #20356A;
  font-style: italic;
  font-weight: 700;
  margin-left: 15px;
}

.container .navbar .left-nav p {
  font-size: 1.5em;
}

.container .navbar .right-nav {
  font-size: 1.2em;
}

.container .navbar .right-nav a {
  float: left;
  display: block;
  color: #20356A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media not all and (pointer: coarse) {
  .container .navbar .right-nav a:hover {
    border-bottom: 2px solid #20356A;
  }
}

.container .navbar .right-nav .icon {
  display: none;
  font-size: 2em;
}

.container .background {
  background: #20356A url("../../media/erik-mclean-dAs9vy68cW8-unsplash.jpg");
  width: 100%;
  height: 920px;
  position: relative;
  color: #F8CB5C;
  background-size: cover;
}

.container .background .overlay {
  background-color: #092979;
  opacity: 0.58;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .background .main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: inherit;
}

.container .background .main-content .left-content {
  margin: 100px auto;
}

.container .background .main-content .left-content .logo img {
  width: 750px;
}

.container .background .main-content .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container .background .main-content .right-content .main-title {
  font-size: 3.5em;
  color: #F8CB5C;
  font-style: italic;
  text-align: center;
}

.container .background .main-content .right-content .main-title p {
  padding: 0 108px;
}

.container .background .main-content .right-content .yellow-button .btn {
  height: 80px;
  width: 300px;
  background-color: #F8CB5C;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2em;
  color: #20356A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container .background .main-content .right-content .yellow-button .btn:hover {
  background-color: white;
}

.container .background .main-content .right-content .call-us {
  color: white;
  font-size: 1.4em;
}

.container .background .main-footer {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white;
  z-index: 5;
  position: absolute;
}

.container .main-footer-content {
  width: 100%;
  height: 240px;
  background-color: #272727;
  margin-top: -21px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .main-footer-content .left-side {
  border: solid 1px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

.container .main-footer-content .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-footer-content .right-side .btn {
  height: 80px;
  width: 300px;
  background-color: #F8CB5C;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2em;
  color: #20356A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #272727;
  border: 1px solid white;
  color: white;
}

.container .main-footer-content .right-side .btn:hover {
  background-color: white;
  color: black;
}

.container .body-container {
  width: 100%;
  background-color: #F8CB5C;
  margin-top: -21px;
}

.container .body-container .body-content {
  width: 70%;
  margin: auto;
}

.container .body-container .body-content .services-section {
  padding-top: 35px;
}

.container .body-container .body-content .services-section .header {
  background: #20356A;
  height: 60px;
  color: #F8CB5C;
  text-align: center;
  -webkit-box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .body-container .body-content .services-section .header h1 {
  font-size: 3em;
  font-style: italic;
}

.container .body-container .body-content .services-section .services-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.container .body-container .body-content .services-section .services-cards .card {
  margin-top: 25px;
  border: solid 2px #20356A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 35px 50px;
  text-align: center;
  background-color: #d6d2cd;
  -webkit-box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .body-container .body-content .services-section .services-cards .card .service-icon i {
  font-size: 3.5em;
  margin: 25px 0;
  color: #20356A;
}

.container .body-container .body-content .services-section .services-cards .card .service-description {
  font-size: 1.2em;
  color: #20356A;
}

.container .body-container .why-us-section .header {
  background: #20356A;
  height: 60px;
  color: #F8CB5C;
  text-align: center;
  -webkit-box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .body-container .why-us-section .header h1 {
  font-size: 3em;
  font-style: italic;
}

.container .body-container .why-us-section .whyus-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  gap: 50px;
}

.container .body-container .why-us-section .whyus-content .left-side .content-card {
  border: 2px solid #20356A;
  border-radius: 5px;
  padding: 35px;
  height: 82%;
}

.container .body-container .why-us-section .whyus-content .right-side img {
  width: 100%;
}

.container .body-container .about-us-section .header {
  background: #20356A;
  height: 60px;
  color: #F8CB5C;
  text-align: center;
  -webkit-box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .body-container .about-us-section .header h1 {
  font-size: 3em;
  font-style: italic;
}

.container .body-container .about-us-section .about-us-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  gap: 50px;
}

.container .body-container .about-us-section .about-us-content .about-left {
  border-radius: 5px;
}

.container .body-container .about-us-section .about-us-content .about-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.container .body-container .about-us-section .about-us-content .about-right .about-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #20356A;
}

.container .body-container .about-us-section .about-us-content .about-right .about-info-wrapper i {
  font-size: 2.5em;
  margin-right: 25px;
}

.container .body-container .about-us-section .about-us-content .about-right .about-info-wrapper .about-info {
  font-size: 1.2em;
}

.container .body-container .footer-section {
  background-color: #20356A;
  color: white;
}

.container .body-container .footer-section .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.container .body-container .footer-section .footer-contact .left-side {
  margin-top: 25px;
}

.container .body-container .footer-section .footer-contact .left-side .btn {
  height: 80px;
  width: 300px;
  background-color: #F8CB5C;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2em;
  color: #20356A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #20356A;
  border: 1px solid white;
  color: white;
}

.container .body-container .footer-section .footer-contact .left-side .btn:hover {
  color: black;
  background-color: white;
}

.container .body-container .footer-section .footer-contact .right-side {
  width: 300px;
  text-align: center;
  margin-top: 25px;
}

.container .body-container .footer-section .copyright {
  text-align: center;
}

@media only screen and (max-width: 1546px) {
  .container .navbar .right-nav {
    font-size: 1em;
  }
  .container .background .main-content .left-content .logo img {
    width: 500px;
  }
  .container .background .main-content .right-content .main-title {
    font-size: 2.5em;
  }
  .container .background {
    height: 633px;
    background-size: cover;
  }
  .container .body-container .body-content .services-section .services-cards .card .service-description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1088px) {
  .container .background .main-content .right-content .main-title {
    font-size: 2em;
  }
  .container .background .main-content .right-content .main-title p {
    padding: 0px;
  }
  .container .body-container .body-content {
    width: 95%;
  }
  .container .background .main-content .right-content .yellow-button .btn {
    width: 240px;
    height: 60px;
  }
}

@media only screen and (max-width: 952px) {
  .container .navbar .left-nav p {
    font-size: 1em;
  }
  .container .navbar {
    font-size: 0.8em;
  }
  .container .background {
    height: 460px;
  }
  .container .background .main-content .left-content .logo img {
    width: 300px;
  }
  .container .background .main-content .right-content .main-title p {
    font-size: 0.8em;
  }
  .container .background .main-content .right-content .yellow-button .btn {
    width: 180px;
    height: 40px;
    font-size: 0.8em;
  }
  .container .background .main-footer {
    font-size: 0.8em;
  }
  .container .background .main-content .right-content .call-us {
    font-size: 0.8em;
  }
  .container .main-footer-content .right-side {
    display: none;
  }
  .container .main-footer-content {
    height: 160px;
  }
  .container .main-footer-content .left-side {
    font-size: 0.8em;
  }
  .container .body-container .body-content .services-section .header h1 {
    font-size: 2em;
  }
  .container .body-container .body-content .services-section .services-cards .card .service-description {
    font-size: 0.8em;
  }
  .container .body-container .why-us-section .header h1 {
    font-size: 2em;
  }
  .container .body-container .why-us-section .whyus-content .left-side .content-card {
    font-size: 0.8em;
    height: 72%;
  }
  .container .body-container .about-us-section .about-us-content .about-right .about-info-wrapper .about-info {
    font-size: 0.8em;
  }
  .container .body-container .about-us-section .header h1 {
    font-size: 2em;
  }
  .container .body-container .about-us-section .about-us-content .about-left .iframe {
    height: 350px;
    width: 400px;
  }
  .container .body-container .footer-section .footer-contact .left-side .btn {
    width: 180px;
    height: 40px;
    font-size: 0.8em;
  }
  .container .body-container .footer-section .footer-contact .right-side {
    font-size: 0.8em;
  }
  .container .body-container .footer-section .copyright {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 798px) {
  .container .body-container .body-content .services-section .services-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .body-container .why-us-section .whyus-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .container .navbar .right-nav a {
    display: none;
  }
  .container .navbar .right-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .container .navbar .right-nav.responsive {
    position: relative;
  }
  .container .navbar .right-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .container .navbar .right-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .container .navbar .right-nav.responsive a.main-element {
    margin-top: 45px;
  }
  .container .background .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .background .main-content .left-content .logo img {
    margin-top: -85px;
  }
  .container .background .main-content .right-content .main-title {
    font-size: 1em;
    margin-top: -65px;
  }
}

@media screen and (max-width: 600px) {
  .container .main-footer-content .left-side {
    font-size: 0.5em;
  }
  .container .body-container .body-content .services-section .services-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .body-container .about-us-section .about-us-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .body-container .about-us-section .about-us-content .about-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    gap: 20px;
  }
  .container-quote .main-content .right-side .form-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .additional-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .moving-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .labor-only {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .tv-wall-mount {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .furniture-assembly {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content .right-side #dynamic-form .packing {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-quote .main-content {
    -ms-grid-columns: 0fr 1fr;
        grid-template-columns: 0fr 1fr;
  }
  .container-quote .main-content .left-side .logo {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */