@import "variables";
@import "mixins";


body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: $yellow;
}

.navbar {
    @include flex-display();
    background-color: $yellow;
    position: sticky;
    .left-nav {
        color: $blue;
        font-style: italic;
        font-weight: 700;
        margin-left: 15px;
        p {
            font-size: 1.5em;
        }
    }

    .right-nav {
        // @include flex-display();
        // justify-content: space-around;
        // width: 45%;
         font-size: 1.2em;
              

        a {
            float: left;
            display: block;
            color: $blue;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            
        
             font-weight: 700;
             border-bottom: 2px solid transparent;
             transition: 0.5s ease-in-out;

             @include hover-supported() {
                border-bottom: 2px solid $blue;
                }
                
            

        }

        .icon {
            display: none;
            font-size: 2em;
        }
    }
}

.container-quote {
    .main-content {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .left-side{
            background-color: $blue;
            height: 100vh;

            .logo {
                img {
                    width: 100%;
                }
            }
        }

        .right-side{
            background-color: $yellow;
            height: 100vh;

            .form-wrapper {
                display: grid;
                grid-template-columns:  1fr  1fr;
                gap: 25px 40px;
                padding: 0 50px;
                

                @include form-style();

                
                
                
            }
            .form-selector{
                display: grid;
                grid-template-columns: 1fr;
                padding: 0 50px;
                margin: 21px 0px;

                select {
                    height: 45px;
                    border-radius: 5px;
                    border: 3px solid transparent;
                    transition: 0.5s ease-in-out;
                    font-size: 1.2em;


                    &:focus {
                        border: 3px solid $blue;
                    }
                }
            }

            #dynamic-form {
                .additional-info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    @include form-style();
                }
                .moving-form{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    
                    @include form-style();

                    input {
                        font-size: 1.2em;
                        font-family: inherit;
                    }

                    select {
                        height: 50px;
                        border-radius: 5px;
                        font-size: 1.2em;
                        font-family: inherit;
                    }
                }

                .wood-refinish {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input[type="file"]{
                        display: none;  
                      }
                      label{
                        color: white;
                        height: 60px;
                        width: 250px;
                        background-color: $blue;
                        //position: absolute;
                        margin: auto;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s ease-in-out;

                        &:hover {
                            background-color: white;
                            color: $blue;
                            cursor: pointer;
                        }
                      }
                }

                .labor-only {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    @include form-style();
                }

                .tv-wall-mount {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    @include form-style();

                    select {
                        height: 50px;
                        border-radius: 5px;
                        font-size: 1.2em;
                        font-family: inherit;
                    }
                }

                .delivery {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .furniture-assembly {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    @include form-style();

                    select {
                        height: 50px;
                        border-radius: 5px;
                        font-size: 1.2em;
                        font-family: inherit;
                    }
                }

                .packing {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px 40px;
                    padding: 0 50px;
                    margin: 21px 0px;
                    @include form-style();

                    select {
                        height: 50px;
                        border-radius: 5px;
                        font-size: 1.2em;
                        font-family: inherit;
                    }
                }

            }

            .submit-btn {
                display: flex;
                justify-content: center;
                margin: 50px 0px;

                input {
                    height: 60px;
                    width: 30%;
                    font-family: inherit;
                    font-size: 1.2em;
                    background-color: $blue;
                    color: white;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        background-color: white;
                        color: $blue;
                        cursor: pointer;
                    }
                }
            }

            
        }
    }
}

@import "queries";